<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Experimenting with my daughter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>

<ion-content [fullscreen]="true">
  <h1>Mouse</h1>
  <br>
  <h1>Hedgehog</h1>
  <br>
  
</ion-content>
